/*------------------------------------------------------------------
[Main Stylesheet]
Project:    Product preview card component
Version:    1.0
Assigned to:    Yari Morcus
Primary use:    Portfolio project 
-------------------------------------------------------------------*/
/*------------------------------------------------------------------
[Table of contents]
    1. [VARIABLES] Colors
        1.1 Primary
        1.2 Neutral
    2. [VARIABLES] Typography
    3. Global
    4. Utility classes
    5. Product card preview component
    6. Header
        6.1 Headings
    7. Content
    8. Footer
    9. Media queries
    -------------------------------------------------------------------*/
/*------------------------------------------------------------------
1. [VARIABLES] Colors
    1.1 Primary
*/
/*------------------------------------------------------------------
1. [VARIABLES] Colors
    1.2 Neutral
*/
/*------------------------------------------------------------------
2. [VARIABLES] Typography
*/
@font-face {
  font-family: "Fraunces-48pt";
  src: url("../fonts/fraunces48pt-bold.woff2") format("woff2"), url("../fonts/fraunces48pt-bold.woff") format("woff"), url("../fonts/fraunces48pt-bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/montserrat-bold-webfont.woff2") format("woff2"), url("../fonts/montserrat-bold-webfont.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/montserrat-medium-webfont.woff2") format("woff2"), url("../fonts/montserrat-medium-webfont.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
/*------------------------------------------------------------------
3. Global
*/
html,
body {
  font-size: 10px;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

main {
  display: grid;
  place-items: center;
  flex: 1;
  background-color: hsl(30deg, 38%, 92%);
}

a {
  outline: none;
  text-decoration: none;
  border-bottom: 1px solid;
}

/*------------------------------------------------------------------
5. Product card preview component
*/
.product-card {
  width: 90%;
  background-color: hsl(0deg, 0%, 100%);
  border: 1px solid;
  border-radius: 1.5rem;
}
.product-image {
  max-width: 100%;
  height: auto;
  border-top-left-radius: 1.5rem;
  border-top-right-radius: 1.5rem;
}
.product-label {
  font: 500 2rem sans-serif;
  text-transform: uppercase;
}
.product-title {
  font: 3rem "Fraunces-48pt", serif;
}
.product-text {
  font: 1.5rem sans-serif;
}

.card-section {
  padding: 2rem;
}

.price-container {
  display: grid;
  grid-template-columns: [discount-start] 1fr [discount-end original-start] 1fr [original-end];
  align-items: center;
  margin-bottom: 1.5rem;
}
.price-discount {
  font: 3.2rem "Fraunces-48pt", serif;
  color: hsl(158deg, 36%, 37%);
  text-decoration: none;
}
.price-original {
  font-size: 1.6rem;
  color: hsl(228deg, 12%, 48%);
}

.card-button {
  width: 100%;
  color: hsl(0deg, 0%, 100%);
  background-color: hsl(158deg, 36%, 37%);
  border: 2px solid hsl(158deg, 36%, 34%);
  border-radius: 0.6rem;
  padding: 1rem 0;
  font-weight: 700;
}

/*------------------------------------------------------------------
8. Footer
*/
.attribution {
  border: 1px solid;
}