/*------------------------------------------------------------------
[Main Stylesheet]
Project:    Product preview card component
Version:    1.0
Assigned to:    Yari Morcus
Primary use:    Portfolio project 
-------------------------------------------------------------------*/
/*------------------------------------------------------------------
[Table of contents]
    1. [VARIABLES] Colors
        1.1 Primary
        1.2 Neutral
    2. Import media query module
    3. [VARIABLES] Typography
    4. Global
    5. Product card preview component
    6. Header
        6.1 Headings
    7. Content
    8. Footer
    9. Media queries
    -------------------------------------------------------------------*/
/*------------------------------------------------------------------
1. [VARIABLES] Colors
    1.1 Primary
*/
/*------------------------------------------------------------------
1. [VARIABLES] Colors
    1.2 Neutral
*/
/*------------------------------------------------------------------
2. Import media query module
*/
/*------------------------------------------------------------------
3. [VARIABLES] Typography
*/
@font-face {
  font-family: "Fraunces-48pt";
  src: url("../fonts/fraunces48pt-bold.woff2") format("woff2"), url("../fonts/fraunces48pt-bold.woff") format("woff"), url("../fonts/fraunces48pt-bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/montserrat-bold-webfont.woff2") format("woff2"), url("../fonts/montserrat-bold-webfont.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/montserrat-medium-webfont.woff2") format("woff2"), url("../fonts/montserrat-medium-webfont.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
/*------------------------------------------------------------------
4. Global
*/
html,
body {
  font-size: 10px;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

main {
  display: grid;
  place-items: center;
  flex: 1;
  background-color: hsl(30deg, 38%, 92%);
}

a {
  outline: none;
  text-decoration: none;
  border-bottom: 1px solid;
}

/*------------------------------------------------------------------
5. Product card preview component
*/
.product-card {
  margin-top: 2.5rem;
  width: 90%;
  max-width: 338px;
  background-color: hsl(0deg, 0%, 100%);
  border-radius: 1.3rem;
}
@media screen and (orientation: landscape) {
  .product-card {
    margin-top: 2rem;
  }
}
@media (min-width: 600px) {
  .product-card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-width: 550px;
  }
}
.product-image {
  max-width: 100%;
  height: auto;
  border-top-left-radius: 1.3rem;
  border-top-right-radius: 1.3rem;
}
.product-label {
  display: inline-block;
  margin-bottom: 1rem;
  font: 500 1.25rem sans-serif;
  color: hsl(228deg, 12%, 48%);
  text-transform: uppercase;
  letter-spacing: 0.5rem;
}
.product-title {
  margin-top: 0;
  margin-bottom: 1.5rem;
  font: 3rem "Fraunces-48pt", serif;
}
.product-text {
  margin-top: 0;
  margin-bottom: 4rem;
  white-space: pre-line;
  line-height: 1.8 !important;
  font: 1.4rem sans-serif;
  color: hsl(228deg, 12%, 48%);
}

.card-section {
  padding: 2.5rem;
}

.price-container {
  display: grid;
  grid-template-columns: [discount-start] 1fr [discount-end original-start] 1fr [original-end];
  align-items: center;
  margin-bottom: 1.5rem;
}
.price-discount {
  font: 2.9rem "Fraunces-48pt", serif;
  color: hsl(158deg, 36%, 37%);
  text-decoration: none;
}
.price-original {
  font-size: 1.6rem;
  color: hsl(228deg, 12%, 48%);
}
.price-original::before, .price-original::after {
  position: absolute;
  width: 1px;
  height: 1px;
  white-space: nowrap;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(100%);
}
.price-original::before {
  content: "[deletion start] ";
}
.price-original::after {
  content: "[deletion end] ";
}

.card-button {
  display: flex;
  justify-content: center;
  padding: 1.1rem 0;
  width: 100%;
  color: hsl(0deg, 0%, 100%);
  background-color: hsl(158deg, 36%, 37%);
  border: 2px solid hsl(158deg, 36%, 34%);
  border-radius: 0.6rem;
  font-weight: 700;
}
.card-button-icon {
  position: relative;
  right: 1rem;
  height: 1.6rem;
}

/*------------------------------------------------------------------
8. Footer
*/
.attribution {
  padding: 2rem 1.28rem 1.28rem;
  text-align: center;
  font-family: sans-serif;
  background-color: hsl(30deg, 38%, 92%);
  font-size: 1.4rem;
}