/*------------------------------------------------------------------
[Main Stylesheet]
Project:    Product preview card component
Version:    1.0
Assigned to:    Yari Morcus
Primary use:    Portfolio project 
-------------------------------------------------------------------*/
/*------------------------------------------------------------------
[Table of contents]
    1. [VARIABLES] Colors
        1.1 Primary
        1.2 Neutral
    2. [VARIABLES] Typography
    3. Global
    4. Utility classes
    5. Card component
    6. Header
        6.1 Headings
    7. Content
    8. Footer
    9. Media queries
    -------------------------------------------------------------------*/
/*------------------------------------------------------------------
1. [VARIABLES] Colors
    1.1 Primary
*/
/*------------------------------------------------------------------
1. [VARIABLES] Colors
    1.2 Neutral
*/
/*------------------------------------------------------------------
2. [VARIABLES] Typography
*/
@font-face {
  font-family: "Fraunces-48pt";
  src: url("../fonts/fraunces48pt-bold.woff2") format("woff2"), url("../fonts/fraunces48pt-bold.woff") format("woff"), url("../fonts/fraunces48pt-bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/montserrat-bold-webfont.woff2") format("woff2"), url("../fonts/montserrat-bold-webfont.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/montserrat-medium-webfont.woff2") format("woff2"), url("../fonts/montserrat-medium-webfont.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
/*------------------------------------------------------------------
3. Global
*/